body, html{
     
}
body{
    background-image: url("../images/background3.jpg") ;
    background-repeat: repeat;
	background-size: cover;
	width: 100%;
	
	
}

header{
	width: 100%;
	
}


.logo{
	background-image: url('../images/logo.jpg');
	background-size: cover;
	margin:0 auto 0;
	height: 200px;
	
}

.navigation li{
	text-align: center; 
	
}



#menu-bar ul li a:link{
  text-shadow: 3px 1px 2px #000000;
  font-weight: bold;
  font-family: arial;
  font-size: 1em;
  color: #E7E5E5;
}


/* visited link */
#menu-bar ul li a:visited {
    color: white;
}

/* mouse over link */
#menu-bar ul li a:hover {
	
	background-color: gray;
	border-radius: 10px;
	font-size: 2em
	width: 90%;
    color: #000;
	 text-shadow: 2px 2px 2px white;
}

/* selected link */
#menu-bar ul li a:active {
    color: firebrick;
}




.outter-left{
	background-color: gainsboro;
	padding-left: 10px;
	margin-left: 2.5%;
	border-radius: 25px;
}

.news{
	padding-top: 10%;
	
}
.news p{
	font-size: 1em;
	padding: 2%;
	

}

.outter-center{
	background-color: gainsboro;
	margin-left: 2%;
	height: 600px;
	padding-left: 2%;
	padding-top: 3%;

	border-radius: 25px;
}

